@import "tailwindcss";

@keyframes ripple-wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes ripple-circle {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes ripple-circle-2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple-circle-3 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes ripple-line {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes ripple-line-2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-ripple-wave {
  animation: ripple-wave 2s infinite ease-in-out;
}
.animate-ripple-circle {
  animation: ripple-circle 2s infinite ease-out;
}
.animate-ripple-circle-2 {
  animation: ripple-circle-2 2s infinite ease-out 0.5s;
}
.animate-ripple-circle-3 {
  animation: ripple-circle-3 2s infinite ease-out 1s;
}
.animate-ripple-line {
  animation: ripple-line 2s infinite ease-in-out;
}
.animate-ripple-line-2 {
  animation: ripple-line-2 2s infinite ease-in-out 0.5s;
}
